
.home-jumbotron{
  background-color: gray;
  height: 350px;
  background-image: url("./assets/chuck-bubble.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
}

.tile{
  background-image: url("./assets/tile-bg.jpg");
  background-size: cover;
}


.cover{
  background-color: rgba(17, 17, 17,.65);
height: 100%;
}